<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8" />
    <title>标题1</title>

    <link href="layui/css/layui.css" />
</head>
<body>
    <form action="/api/upload/add" method="post" enctype="multipart/form-data">
        <label>文件名</label>
        <input type="text" name="fileName"/>
        <label>管理员id</label>
        <input type="text" name="adminId"/>
        <label>文章id</label>
        <input type="text" name="articleId"/>
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
    <form action="/api/upload/download">
        <input type="text" name="uploadId"/>
        <input type="submit"/>
    </form>
</body>
</html>